* {
    margin: 0;
}

#main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

p {
    text-align: center;
    margin: 10px;
}


#top {
    width: 100%;
    padding: 10px;
    background-color: powderblue;
    font-size: 16px;
}

#grid {
    perspective: 900px;
    width: 900px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


#bottom {
    width: 100%;
    background-color: powderblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}